body {

    /* background-color: rgb(12, 25, 59); */
    color: white;
    font-family: roboto condensed;
    margin: 0;
}

.jumbotron {
    height: 60rem;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}


div {
    /* border: solid, red, 1px; */

}

.bg {
    background-color: rgb(12, 25, 59);
}

.container {
    display: flex;
    justify-content: flex-end;
    /* background-image: url(./Images/te-logo_150dpi_no_bkgrd-m5KWlNQx15uZ6xgD.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 6rem;
    padding-right: 5rem;
}

.logoNav {
    display: inline-flex;
    justify-content: space-between;
    /* justify-content: flex-end; */
    width: 100%;




}

.logo {
    width: 18rem;
    height: auto;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 10;
    background-color: rgb(6, 28, 70);
    height: 5.5rem;
}

.navItems ul {
    display: flex;
    margin-right: 2rem;

    /* justify-content: space-between; */
    list-style: none;


}

.navItems li {
    font-size: 1.4rem;
    padding: 1rem 1rem;
    font-family: roboto;
    font-weight: 300;
    opacity: 90%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin-top: 4rem; */
}

/* .header span {
    font-size: 5rem;
    text-align: center;
    font-family: impact;
    font-weight: 300;
    font-stretch: ;

} */

.header p {
    font-family: roboto;
    font-size: 2rem;
    font-weight: 300;
}

.homeQuote {
    height: 4rem;
    width: 10rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    background-color: rgb(12, 25, 59);
    color: rgb(255, 255, 255);
    font-family: roboto condensed;
    font-size: 1.2rem;
    font-weight: 300;
    border: solid rgb(47, 91, 187) 2px;
    border-radius: 5px;
}

.homeQuote span {
    font-weight: 600;
}

/*plant specs*/
#banner {
    top: 0;
    left: 0;
    align-items: center;
    position: relative;
    height: 57rem;

}

#button-div {
    display: flex;
    justify-content: center;
    margin-top: 3.12rem;
    /*50px;*/
}

#enter-button {
    background-color: rgb(63, 168, 63);
    color: rgb(8, 98, 21);
    font-size: 1.87rem;
    /*30px;*/
    border-radius: 2.5rem;
    /*40px;*/
    border: none;
    font-weight: normal;

    height: 5rem;
    /*80px;*/
    width: 12.5rem;
    opacity: 80%;

    /*200px*/
}

.stageLoop {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;



}

#videoContainer {
    position: absolute;
    object-fit: contain;
    height: fit-content;
    width: 100%;
    height: 100%;
}

.background-video {

    overflow: hidden;
    object-fit: contain;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.stageLoopText {

    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    width: 100%;

}

#experience-span {

    font-size: 4rem;
    color: rgb(247, 247, 247);
    font-family: roboto condensed;
    opacity: 60%;
    margin-top: 7rem;
    margin-left: 20rem;
    width: 100%;
}

#av-span {
    font-size: 2rem;
    color: rgb(247, 247, 247);
    font-family: roboto condensed;
    opacity: 70%;
    margin-top: 25rem;
    margin-left: 120rem;
    width: 100%;
    height: auto;
}


/*te css*/



#home p {
    position: absolute;
    margin-top: 45rem;
    margin-left: 55rem;
    font-family: roboto condensed;
    font-size: 2rem;
    font-weight: 400;
    z-index: 5;
    opacity: 75%;
}

*/
/* #video-tron {
    display: flex;
    align-items: center;
    justify-content: center;
}

#av-span {
    display: flex;
    margin-top: 45rem;
    margin-left: 55rem;
    font-family: roboto condensed;
    font-size: 2rem;
    font-weight: 400;
    z-index: 99;
    opacity: 75%;
}

#experienceSpan {
    display: flex;

    margin-top: 10rem;
    margin-left: 15rem;
    font-family: roboto condensed;
    z-index: 99;
    font-size: 5rem;
    font-weight: 500;
    opacity: 65%;

}

.background-video {

    overflow: hidden;
    object-fit: contain;
    display: flex;


} */

#firstOfAll {
    padding-top: 8rem;
    padding-bottom: 6rem;
    background-color: aliceblue;
    display: inline-flex;
    justify-content: space-around;


}

.lightingImg {
    padding-left: 3rem;

}

.lightingImg img {
    border-radius: 10px;
}

.firstOfAllText {
    padding-left: 4rem;
    padding-right: 4rem;
}

.firstOfAllText h4 {
    color: rgb(0, 25, 46);
    font-family: roboto condensed;

}

.firstOfAllText h1 {
    color: black;
    font-size: 3rem;
    font-family: roboto condensed;

}

.firstOfAllText p {
    color: black;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-family: roboto condensed;
    font-weight: 300;
}


#notToMention {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: white;
    color: black;
    display: inline-flex;
    justify-content: space-around;
}

.notToMentionText {
    padding-left: 4rem;
    padding-right: 4rem;
}

.handImg {
    padding-right: 3rem;

}

.handImg img {
    border-radius: 10px;
}

.notToMentionText h4 {
    color: rgb(0, 25, 46);
    font-family: roboto condensed;

}

.notToMentionText h1 {
    color: black;
    font-size: 3rem;
    font-family: roboto condensed;


}

.notToMentionText p {
    color: black;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-family: roboto condensed;
    font-weight: 300;
}

.ourServices {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem;
    background-color: aliceblue;

}

#ourServices {}

.ourServices img {
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    margin-bottom: 2rem;
}

.servicesHeader {
    margin-left: 45rem;
    margin-top: 2rem;
    z-index: 2;

}

.servicesHeader h1 {
    color: rgb(0, 0, 0);
    font-family: roboto condensed;
    font-size: 7.5rem;
    font-weight: 800;


}

.servicesLists {
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;

    /* align-items: center; */

}

.inHouse {
    font-family: roboto condensed;
    /* padding-left: 6rem; */
    /* padding-right: 4rem; */
    width: 30%;

}

.inHouse h2 {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(41, 83, 196);
}

.inHouse h4 {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0;
    padding-top: 1.5rem;
    color: rgb(41, 83, 196);
}

.inHouse p {
    font-size: 1.2rem;
    font-weight: 400;
    padding-left: 1rem;
    color: black;
    opacity: 85%;
}

.allServices {
    display: flex;
    flex-direction: column;
    font-family: roboto condensed;
    width: 30%;
    color: rgb(41, 83, 196);
    /* padding-left: 4rem; */
    /* padding-right: 6rem; */
}

.allServices ul {
    display: flex;
    flex-direction: column;
    color: black;
    opacity: 85%;
    font-weight: 600;
}

.allServices li {
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.5rem;
}

.allServices h2 {
    font-size: 2rem;
    font-weight: 600;

}

#whoWeAre {
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#whoWeAre h1 {
    text-align: center;
    font-family: roboto condensed;
    font-size: 4rem;
    font-weight: 600;
    color: black;
}

#whoWeAre p {

    text-align: center;
    font-family: roboto condensed;
    font-size: 1.3rem;
    font-weight: 400;
    padding-left: 30rem;
    padding-right: 30rem;
    color: black;
    line-height: 3rem;

}

#events {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
}

#events h3 {
    text-align: center;
    font-family: roboto condensed;
    font-size: 3rem;
    font-weight: 400;
}

.eventsImgs {

    display: flex;
    justify-content: space-around;
    height: fit-content;

}

.eventsImgs img {
    border-radius: 5px;
}

#lightUp {
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;

}

#lightUp h1 {
    font-size: 4rem;
    font-family: roboto condensed;
    font-weight: 300;
    color: black;
}

#inTouch {
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

#inTouch h1 {
    font-size: 3rem;
    font-family: roboto condensed;
    font-weight: 300;
}

@media (min-width: 1560px) {
    #stageLoop {
        margin-bottom: 10rem;
    }
}

@media (min-width: 1840px) {
    #stageLoop {
        margin-bottom: 20rem;
    }
}

@media (max-width: 1560px) {
    #stageLoop {
        /* margin-bottom: 10rem; */
    }
}